# Archivos y carpetas generados automáticamente
*.pyc
*/__pycache__/
*.sqlite3
*/migrations

# Carpeta de entorno virtual (si estás usando uno)
venv/
env/

# Archivos de configuración local
local_settings.py

# Archivos de registro
logs/
*.log

# Otros archivos y carpetas generados por herramientas o IDE
.vscode/
.idea/
